h1, h2, h3, h4, h5, h6 {
    color: #111111;
}

a {
    font-weight: bold;
    color:       #0880e8;
}

body {
    font-family:      Helvetica;
    color:            #222222;
    background-color: #ffffff;

    max-width: 42em;
    margin:    0 auto;

    > header {
        margin-bottom: 2em;

        a.title {
            text-decoration: none;
        }

        h1 {
            margin-bottom: 0em;
            font-size:     250%;
        }

        h2 {
            margin-top: 0em;
            font-size : 100%;
        }
    }
}
