$color-title: #111111;

h1, h2, h3, h4, h5, h6 {
    color: $color-title;
}

a {
    font-weight: bold;
    color:       #0880e8;
}

li {
    margin-bottom: 0.5em;
}

body {
    font-family:      Helvetica;
    color:            #222222;
    background-color: #ffffff;

    max-width: 42em;
    margin:    0 auto;

    > header {
        display:         flex;
        flex-direction:  row;
        flex-wrap:       wrap;
        justify-content: flex-start;
        align-items:     flex-end;

        margin-bottom: 2em;

        a.title {
            text-decoration: none;
        }

        h1 {
            margin-bottom: 0em;
            font-size:     250%;
        }

        p {
            margin-top: 0em;
            font-size : 100%;
            color: $color-title
        }

        nav {
            ul {
                list-style: none;

                li {
                    display:      inline;
                    margin-right: 1em;

                    a {
                        color: $color-title;
                    }
                }
            }
        }
    }
}

// First sentence on index page
strong.why {
    font-size: 110%;
}

section.news {
    header {
        display:         flex;
        flex-direction:  row;
        flex-wrap:       wrap;
        justify-content: flex-start;
        align-items:     baseline;

        h2 {
            margin-top:    0;
            margin-right:  0.25em;
            margin-bottom: 0;
        }

        a {
            font-size: 85%;
        }
    }

    ol {
        list-style: none;
        padding-left: 1em;
    }

    span.date {
        font-weight: bold;
    }
}
