main {
    div.title {
        margin-bottom: 2em;

        h2 {
            margin-bottom: 0;
        }

        p {
            font-size:   85%;
            font-weight: bold;
            margin-top:  0;
        }
    }

    h3 {
        margin-top: 1.5em;
        margin-bottom: 0;
    }

    aside p:first-of-type {
        margin-top: 0;
    }

    aside p:last-of-type {
        margin-bottom: 0;
    }

    hr {
        width: 75%;

        margin-top:    3em;
        margin-bottom: 2em;
    }

    footer {
        font-size:  85%;
        text-align: center;
    }
}
