section.news {
    header {
        display:         flex;
        flex-direction:  row;
        flex-wrap:       wrap;
        justify-content: flex-start;
        align-items:     baseline;

        h2 {
            margin-right:  0.25em;
            margin-bottom: 0;
        }

        a {
            font-size: 85%;
        }
    }

    ol {
        list-style: none;
        padding-left: 1em;
    }

    span.date {
        font-weight: bold;
    }
}
