<form
    class="newsletter"
    method="POST"
    action="https://d1e704b6.sibforms.com/serve/MUIEALZF0OPyjxocQTbWo6a3LVUtkwvADBQH-dTDh3lZnaFQt-xAvwS2FdoD-rZRPE5vPSj1xmbB3ssapsbJCnCR5vTzP3aPZE1QpIHkEX6cUBksCYsX9zl4Fg2vPfb_5ojBBS-tFswwYielbWkQiZ8DNviw2wh30zO0wAVKXMjeAM6bWfsSCBM4fWNWMU51IOb8Mx4_5_pBry3y">

    <h3>Monthly Newsletter</h3>
    <p>
        Want to stay up to date with what happens with Flott? Sign up here, to receive an email every time a new edition of Last Month in Flott is posted on the website.
    </p>
    <input
        type="email"
        name="EMAIL"
        required
        placeholder="your@email.com" />
    <input
        type="submit"
        value="Sign up" />
</form>
