<form
    class="newsletter"
    method="POST"
    action="https://d1e704b6.sibforms.com/serve/MUIEADjbIyuehho8d6vIAqfOjgzr_NmLvsh-V7dP5BAYYE9tb7H8oTOO94fxJAA0g6rVNb_9ZRoCbbj_k-UBBWSgbcXsUxUu7bGyxjkIeJhLD1ew5fzRMQvv10qlbqns1ieLflH5C8IFwqeZAu4xFxQAcu8-QQAbNIbQDIvVaqM7VvMGYvTOc7HQ3g4mLDegFuDZUsEETCYo-ziQ">

    <h3>Monthly Newsletter</h3>
    <p>
        Want to stay up to date with what happens with Flott? Sign up here, to receive an email every time a new edition of Last Month in Flott is posted on the website.
    </p>
    <input
        type="email"
        name="EMAIL"
        required
        placeholder="your@email.com" />
    <input
        type="submit"
        value="Sign up" />
</form>
