<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% if page and page.content != "" %}
            <title>{{page.title}} - Flott</title>
        {% else %}
            <title>Flott - Motion Control in Rust</title>
        {% endif %}

        <link href="/base.css" rel="stylesheet" type="text/css" media="all" />
        {% block css %}{% endblock css %}

        <link href="/atom.xml" rel="alternate" type="application/atom+xml" />
    </head>

    <body>
        <header>
            <a class="title" href="/">
                <h1>Flott</h1>
                <p>Motion Control in Rust</p>
            </a>

            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/news">News</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="https://github.com/flott-motion">GitHub</a></li>
                </ul>
            </nav>
        </header>
        <main>
            {% block main %}{% endblock main %}
        </main>
    </body>
</html>
