{% extends "extend/base.html" %}

{% block css -%}
    <link href="/news-page.css" rel="stylesheet" type="text/css" media="all" />
{%- endblock css %}

{% block main %}
    {% set author = config.extra.authors[page.extra.author] -%}

    <div class="title">
        <h2>{{ page.title }}</h2>
        <p>
            Posted on {{ page.date }} by <a href="{{ author.link }}">{{ author.name }}</a>
        </p>
    </div>

    {{ page.content | safe }}

    <hr />

    <footer>
        <p>Interested in Flott? <a href="/atom.xml">Subscribe to the news feed</a>, or sign up for the newsletter below!</p>
    </footer>
{% endblock main %}

{% block footer %}
{% endblock footer %}
